body{
background-color: #f3f9eb !important;
}
#navbar {
background-color: #01ACC8;
height: 13%;
}
#nav-wrapper{
position : fixed;

}

.navbar-brand {
margin: -35px 10px ;
height: 160px !important;


}
.header-search {
position: relative;

float: left;
}
.search-round{
    margin-top: 23px;
    margin-left: 165px;
	border-radius:5px; 
    width: 400px;
    height: 40px;
}
#search{

}
.nav-right li{

}
.sign-button{
background-color: #03cae9;
color: white;

margin: 24px 10px;
border-radius: 5px;

}
